@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
.hero{
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    width: 98.7vw;
}
.nav-bar{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px; 
}
.nav-bar img{
    height: 30px;
}
.nav-bar button{
    margin-left: 980px;
    padding: 12px 55px;
    border-radius: 30px;
    border-style: none;
    color: #034c5e;
    background-color: white;
    font-weight: 600;
    box-shadow: 3px 3px 5px #4a6065;
}
.firstdiv{
    display: flex;
    padding-bottom: 50px;
    padding-left: 80px; 
    padding-right: 80px;
    /* font-size: 20px; */
}
.sec-one{
    align-content: center;
    font-weight: 600;
}
.sec-one button{
    padding: 15px 65px;
    border-radius: 30px;
    border-style: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-weight: 600;
    margin-top: 20px;
}
.sec-two img{
    height: 65vh;
    padding-left: 200px;
}
.first-child{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    box-sizing: content-box;
    box-shadow: 3px 3px 5px #4a6065;
    border-radius: 10px;
    height:45vh ;
    padding-right:30px ;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 120px;
}
.txts{
    text-align: start;
    align-content: center;
    padding-right: 220px;
    /* font-size: 20px; */
}
.first-child img{
    height: 40vh;
    padding-right: 80px;
}
.child{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    box-sizing: content-box;
    box-shadow: 3px 3px 5px #4a6065;
    border-radius: 10px;
    margin-top: 70px;
    height:45vh ;
    padding-right:30px ;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
}
.txt{
    text-align: start;
    align-content: center;
    padding-left: 150px;
    /* font-size: 20px; */
    padding-right: 70px;
}
.last-child{
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    box-sizing: content-box;
    box-shadow: 3px 3px 5px #4a6065;
    border-radius: 10px;
    margin-top: 70px;
    height:45vh ;
    padding-right:30px ;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    margin-bottom: 150px;
}
.txts{
    text-align: start;
    align-content: center;
    padding-right: 220px;
    /* font-size: 20px; */
}
.last-child img{
     padding-right: 80px;
}
.third-sect{
    justify-items: center; 
    box-shadow: 3px -3px 5px #7d9da4;
    width:40vw;
    height: 30vh;
    justify-self: center;
    align-content: center;
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin-bottom: -70px;
}
.third-sect button{
    padding: 19px 73px;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-style: none;
}
.footer{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    padding-left: 150px;
    height: 50vh; 
    padding-top: 150px;
    color:#d5f4fb;">   
    /* font-size: 15px;git */
}
.imgandtxt img{
    height: 20px;
    padding-top: 15px; 
    padding-right: 10px;  
}
.imgandtxt{
    display: flex;
    padding-right:150px ;
}
.imgandtxt p{
    padding-left: 20px;
    text-align: start;
}
.sec-part{
    display: flex;
    /* align-items: center; */
}
.first-set{
    padding-top: 62px;
    padding-right: 150px;
}
.sec-set{
    padding-top: 62px;
    padding-right: 150px;
}
.sec-set p:hover{
    text-decoration: dashed;
    cursor: pointer;
}